<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pulth's Decentralized String Saver</title>
    <base href="/" />
  </head>
  <body>
    <h1>Pulth's Decentralized String Saver</h1>
    <div id="root"></div>
  </body>
</html>
